<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-primary p-2 text-center text-white">
                <h2>Template-driven Forms</h2>
            </div>
            <form #newForm="ngForm" (ngSubmit)="save(newForm.value)" novalidate>
                {{ newForm.value | json }}
                <br>
                <br>
                {{ std | json }} <!-- Display form model object -->
                <br>
                <br>

                <!-- Name Input Field -->
                <div class="form-group">
                    <label for="name">Enter Name:</label>
                    <input type="text" [class.is-invalid]="name.touched && name.invalid" minlength="4" #name="ngModel"
                        name="name" [(ngModel)]="std.name" class="form-control" placeholder="Enter Name" ngModel>
                    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                        <div *ngIf="name.errors && name.errors['minlength']">
                            4 Characters must required
                        </div>
                    </div>
                    <!-- Dirty = {{ name.dirty }}
                    <br>
                    Pristine = {{ name.pristine }}
                    <br>
                    Valid = {{ name.valid }}
                    <br>
                    Invalid = {{ name.invalid }}
                    <br>
                    Touched = {{ name.touched }}
                    <br>
                    Untouched = {{ name.untouched }} -->
                </div>

                <!-- Age Input Field -->
                <div class="form-group">
                    <label for="age">Enter Age:</label>
                    <input type="number" required #age="ngModel" [class.is-invalid]="age.touched && age.invalid"
                        name="age" [(ngModel)]="std.age" class="form-control" placeholder="Enter Age" ngModel>
                </div>

                <!-- Email Input Field -->
                <div class="form-group">
                    <label for="email">Enter Email:</label>
                    <input type="text" #email="ngModel" [class.is-invalid]="email.touched && email.invalid" required
                        email name="email" [(ngModel)]="std.email" class="form-control" placeholder="Enter Email"
                        ngModel>
                </div>

                <!-- Error Message for Email -->
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                    <div *ngIf="email.errors && email.errors['required']">
                        Email is Required
                    </div>
                    <div *ngIf="email.errors && email.errors['email']">
                        Invalid Email
                    </div>
                </div>

                <br>
                <label for="">Gender</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" required value="Male" #gender="ngModel"
                        [(ngModel)]="std.gender" ngModel name="gender" id="">
                    <label for="Male">Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" required value="Female" #gender="ngModel"
                        [(ngModel)]="std.gender" ngModel name="gender" id="">
                    <label for="Male">Female</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Country</label>
                    <br>
                    <select required class="form-control" [class.is-invalid]="country.touched && country.invalid"
                        name="country" #country="ngModel" [(ngModel)]="std.country" ngModel>
                        <option selected value="">Select</option>
                        <option value="USA">USA</option>
                        <option value="Canada">Canada</option>
                        <option value="Australia">Australia</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="country.touched && country.invalid">
                        <div *ngIf="country.errors && country.errors['required']">
                            Country is Required
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" required name="accept" #accept="ngModel" ngModel
                        [(ngModel)]="std.accept">
                    <label for="">I have read terms and conditions</label>
                </div>
                <br>
                <label for="">Select Hobbies</label>
                <div class="form-check">
                    <input type="checkbox" (change)="onChange($event)" class="form-check-input" name="hobbies"
                        value="Singing" id="">
                    <label for="">Singing</label>
                    <br>
                    <input type="checkbox" (change)="onChange($event)" class="form-check-input" name="hobbies"
                        value="Reading" id="">
                    <label for="">Reading</label>
                    <br>
                    <input type="checkbox" (change)="onChange($event)" class="form-check-input" name="hobbies"
                        value="Hiking" id="">
                    <label for="">Hiking</label>
                </div>
                <br>
                <div class="d-grid">
                    <input type="submit" [class.disabled]="newForm.form.invalid || selectedHobbies.length == 0" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Display Submitted Data -->
<h1>{{ std.name }}</h1>
<h1>{{ std.age }}</h1>
<h1>{{ std.email }}</h1>